# History files
.Rhistory
.Rapp.history
# Example code in package build process
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
.RData
.RData
.RData
.RDataTmp
